<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="../public/stylesheets/font-awesome-5.7.2.css">
  <link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="../public/stylesheets/mdb.css">
  <link rel="stylesheet" href="../public/stylesheets/style.css">
  <title>Express Validate</title>
</head>
<body>

<!-- Main Navigation Bar -->
<nav class="navbar navbar-expand-md navbar-dark bg-teal">
  <a class="navbar-brand" href="#">Express Validate</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active ">
        <a class="nav-link px-4" href="/">Home</a>
      </li>
    </ul>
  </div>
</nav>


<!-- Main Content Section -->
<section class="p-3 mt-5">
  <div class="container">
    <div class="row">
        <div class="col-md-3"></div>
      <div class="col-md-6">
          <% if(errors.length === 0){ %>
              <div class="alert alert-success animated jackInTheBox">
                  <button class="close" data-dismiss="alert">
                      <i class="fa fa-times-circle"></i>
                  </button>
                  <strong>Validation Success!!</strong>
              </div>
          <% }%>
          <div class="card">
            <div class="card-header bg-teal text-white text-center">
                <h3>Register Here</h3>
            </div>
              <div class="card-body">
                  <form action="/register" method="post">
                     <div class="form-group">
                         <input
                                 type="email"
                                 class="form-control <%= errors.find(obj => obj.param === 'email') ? 'is-invalid' : '' %>"
                                 placeholder="Your Email"
                                 name="email"
                                 value="<%= user.email %>">
                         <div class="invalid-feedback">
                             <% if(errors.find(obj => obj.param === 'email')) { %>
                                 Please provide a valid Email
                             <% }%>
                         </div>
                     </div>
                      <div class="form-group">
                          <input
                                  type="password"
                                  class="form-control <%= errors.find(obj => obj.param === 'password') ? 'is-invalid' : '' %>"
                                  placeholder="Password"
                                  name="password"
                                  value="<%= user.password %>">
                          <div class="invalid-feedback">
                              <% if(errors.find(obj => obj.param === 'password')) { %>
                                    Provide at least 5 letters
                              <% }%>
                          </div>
                      </div>
                      <div class="form-group">
                          <input
                                  type="password"
                                  class="form-control <%= errors.find(obj => obj.param === 'c_password') ? 'is-invalid' : '' %>"
                                  placeholder="Confirm Password"
                                  name="c_password"
                                  value="<%= user.c_password %>">
                          <div class="invalid-feedback">
                              <% if(errors.find(obj => obj.param === 'c_password')) { %>
                                Both the passwords not Matched
                              <% }%>
                          </div>
                      </div>
                      <input type="submit" value="Register" class="btn btn-teal">
                  </form>
              </div>
          </div>
      </div>
        <div class="col-md-3"></div>
    </div>
  </div>
</section>

<!-- Main Footer -->
<footer class="p-3 bg-dark text-white text-center fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Copyright &copy; 2019 , Express Validate Services</h3>
        <h6>All Rights Reserved</h6>
        <h6>Developed & Maintained by Express Services</h6>
      </div>
    </div>
  </div>
</footer>

<!-- JavaScripts -->
<script src="../public/javascripts/jquery-3.3.1.min.js"></script>
<script src="../public/javascripts/popper.min.js"></script>
<script src="../public/javascripts/bootstrap.js"></script>
<script src="../public/javascripts/mdb.js"></script>
</body>
</html>